<div style="text-align:center; margin-bottom:40px; margin-top:0px"><img src ='/{{ site.baseurl }}images/me_short.png' width="70%" /></div>

<h3 style="text-align:center; margin-bottom:30px; color: rgba(0,101,128,1.0000000000);"> Hi! :-)</h3>

I'm a **Postdoctoral Researcher** at the **University of Bologna, Italy** and _President_ of <a href="https://www.continualai.org/">ContinualAI</a>, a non-profit research organization and the largest open community on _Continual Learning for AI_. 
Currently, I'm also a _Co-founder_ and _Board Member_ of <a href="http://AIforPeople.org">AI for People</a> and a _Research Affiliate_ at <a href="http://ailabs.it">AI Labs</a>. I obtained my PhD at UniBo in early 2019 with a dissertation titled <a href="http://amsdottorato.unibo.it/9073/">"Continual Learning with Deep Architectures"</a>: a natural continuation of my master's thesis on bio-inspired deep architectures I started in 2014.

For more than 3 years I have been working as a teaching assistant for the <a href="http://bias.csr.unibo.it/maltoni/ml/">Machine Learning</a> and <a href="http://bias.csr.unibo.it/maltoni/arc/">Computer Architectures</a> courses in the Department of Computer Science of Engineering (DISI). In the past I've been a _Visiting Research Scientist_ at [Purdue University](https://www.purdue.edu/), USA in 2017, at [ENSTA ParisTech](https://www.ensta-paristech.fr/), France in 2018 and at [Numenta](https://numenta.com/), USA in 2019. Even before, I was a Machine Learning Software Engineer @ <a href="http://www.moistori.com/">iDL in-line Devices</a> and a Master Student @ University of Bologna.

My main research interests include open science and ethical AI developments, neuroscience-grounded AI, **continual/lifelong learning with deep architectures**, multi-task learning, knowledge distillation and transfer, and their applications to embedded systems, robotics and internet-of-things. 

<p style="text-align:center;"> if you want to get in touch:<br> </p>
<p style="text-align:center; background-color:rgba(0,0,0,0.06); border: 1px solid rgb(222, 222, 222); padding:10px; font-family:monospace">print "<strong>vincenzo.lomonaco</strong> AT <strong>unibo.it</strong>".replace(' AT ', '@' )</p>

[slideshare]:		http://www.slideshare.net/VincenzoLomonaco
[instagram]: 		https://instagram.com/vincenzo_lomonaco/
[google+]:			http://google.com/+VincenzoLomonaco
[twitter]:			https://twitter.com/v_lomonaco
[facebook]:			https://www.facebook.com/vincenzo.lomonaco.91
[academia]:			https://unibo.academia.edu/VLomonaco
[g-scholar]:		http://scholar.google.it/citations?user=rQLINtQAAAAJ&hl=it
[res-gate]:			https://www.researchgate.net/profile/Vincenzo_Lomonaco
[linkedin]:		  https://it.linkedin.com/in/vincenzolomonaco
[ild-sys]:			http://www.moistori.com/
[packt]:		 	 	https://www.packtpub.com/
[arch]:				 	http://bias.csr.unibo.it/maltoni/arc/
[parallel]:    	http://cdm.unimo.it/home/matematica/zanni.luca/
[mlcourse]:			http://bias.csr.unibo.it/maltoni/ml/
[DL-essential]: https://www.packtpub.com/big-data-and-business-intelligence/r-deep-learning-essentials
[biolab]:			 	http://biolab.csr.unibo.it/home.asp
[disi]:				 	http://www.cse.unibo.it/en
[thesis]:      	http://amslaurea.unibo.it/9095/
