<div style="text-align:center; margin-bottom:40px; margin-top:0px"><img src ='/{{ site.baseurl }}images/me_short.png' width="70%" /></div>

<h3 style="text-align:center; margin-bottom:30px; color: rgba(0,101,128,1.0000000000);"> Hi! :-)</h3>

I'm a **Postdoctoral Researcher** at the **University of Bologna, Italy** (supervisor: [Davide Maltoni]()) and _Co-Founding President_ of <a href="https://www.continualai.org/">ContinualAI</a>, a non-profit research organization and the largest open community on _Continual Learning for AI_. 
Currently, I'm also a _Co-founder_ and _Board Member_ of <a href="http://AIforPeople.org">AI for People</a>, Director of the <a href="https://www.continualai.org/lab">ContinualAI Lab</a> and a proud member of the <a href=""><em>European Lab for Learning and Intelligent Systems (ELLIS)</em></a>. 

I obtained my PhD at UniBo in early 2019 with a dissertation titled <a href="http://amsdottorato.unibo.it/9073/"><em>"Continual Learning with Deep Architectures"</em></a> (on a topic I've been working on for more than 7 years now) which was recognized as one of the top-5 AI dissertation of 2019 by the <a href=""><em>Italian Associacion for Artificial Intelligence</em></a>.

For more than 5 years I have been working as a teaching assistant for the <a href="http://bias.csr.unibo.it/maltoni/ml/">Machine Learning</a> and <a href="http://bias.csr.unibo.it/maltoni/arc/">Computer Architectures</a> courses in the Department of Computer Science of Engineering (DISI). In the past I've been a  _Visiting Research Scientist_ at [AI Labs]() in 2020, at [Numenta](https://numenta.com/) (with: [Jeff Hawkins](), [Subutai Ahmad]()) in 2019, at [ENSTA ParisTech](https://www.ensta-paristech.fr/) (with: [David Filliat]()) in 2018 and at [Purdue University](https://www.purdue.edu/) (with: [Eugenio Culurciello]()) in 2017. Even before, I was a Machine Learning Software Engineer @ <a href="http://www.moistori.com/">iDL in-line Devices</a> and a Master Student @ UniBo.

My main research interest and passion is about **Continual Learning** in all its facets. In particular, I love to study *Continual Learning* under three main lights: *Neuroscience*, *Deep Learning* and *Practical Applications*, all within a *AI Sustainability* developmental framework.

<p style="text-align:center;margin-top:20px;"><strong>NEWS</strong></p>
<p style="text-align:left; background-color:rgba(0,0,0,0.06); border: 1px solid rgb(222, 222, 222); padding:10px; margin-bottom:40px;">
&bull; I'm Co-chair of the <a href="https://sites.google.com/view/clvision2021/overview?authuser=0">CVPR 2021 Continual Learning Workshop (<strong>call for paper OPEN</strong>!)</a><br>
&bull; I'm Co-Editor of the <a href="https://www.springer.com/journal/146/updates/18583616">Special issue on AI for People (<strong>call for paper OPEN</strong>!)</a><br>
&bull; My new paper <a href="https://arxiv.org/abs/2009.09929">CVPR 2020 Continual Learning in Computer Vision Competition: Approaches, Results, Current Challenges and Future Directions</a> is out!<br>
</p>

<p style="text-align:center;"> if you want to get in touch (I answer all the e-mails sooner or later):<br> </p>
<p style="text-align:center; background-color:rgba(0,0,0,0.06); border: 1px solid rgb(222, 222, 222); padding:10px; font-family:monospace">print "<strong>vincenzo.lomonaco</strong> AT <strong>unibo.it</strong>".replace(' AT ', '@' )</p>




<style type="text/css">
    i.iconpad{ margin: 15px; }
    i.plus{font-size: 27px}
</style>


<div style="text-align: center;">
	<a href="https://www.linkedin.com/in/vincenzolomonaco/" title="Vincenzo on LinkedIn" target="_blank">
	   <i class="icon icon-social-linkedin iconpad plus"></i>
	   </a>

	 <a href="https://twitter.com/v_lomonaco" title="Vincenzo on Twitter" target="_blank">
	 <i class="icon icon-social-twitter iconpad plus"></i>
	  </a>

	 <a href="https://github.com/vlomonaco" title="Vincenzo on GitHub" target="_blank">
	 <i class="icon icon-social-github iconpad plus"></i>
	  </a>

	 <a href="http://scholar.google.it/citations?user=rQLINtQAAAAJ&hl=it" title="Vincenzo on Scholar" target="_blank">
	     <i class="ai ai-google-scholar ai-my iconpad"></i>
	</a>

	<a href="https://www.researchgate.net/profile/Vincenzo_Lomonaco" title="Vincenzo on Research Gate" target="_blank">
	    <i class="ai ai-researchgate ai-my iconpad"></i>
	</a>
	             
	<a href="http://unibo.academia.edu/VincenzoLomonaco" title="vincenzo lomonaco on Academia" target="_blank">
	    <i class="ai ai-academia ai-my iconpad"></i>
	</a>
	              
	<a href="/{{ "feed.xml" | prepend: site.baseurl }}" title="Subscribe" target="_blank">
	    <i class="icon icon-rss iconpad plus"></i>
	</a>     
</div>

[slideshare]:		http://www.slideshare.net/VincenzoLomonaco
[instagram]: 		https://instagram.com/vincenzo_lomonaco/
[google+]:			http://google.com/+VincenzoLomonaco
[twitter]:			https://twitter.com/v_lomonaco
[facebook]:			https://www.facebook.com/vincenzo.lomonaco.91
[academia]:			https://unibo.academia.edu/VLomonaco
[g-scholar]:		http://scholar.google.it/citations?user=rQLINtQAAAAJ&hl=it
[res-gate]:			https://www.researchgate.net/profile/Vincenzo_Lomonaco
[linkedin]:		  https://it.linkedin.com/in/vincenzolomonaco
[ild-sys]:			http://www.moistori.com/
[packt]:		 	 	https://www.packtpub.com/
[arch]:				 	http://bias.csr.unibo.it/maltoni/arc/
[parallel]:    	http://cdm.unimo.it/home/matematica/zanni.luca/
[mlcourse]:			http://bias.csr.unibo.it/maltoni/ml/
[DL-essential]: https://www.packtpub.com/big-data-and-business-intelligence/r-deep-learning-essentials
[biolab]:			 	http://biolab.csr.unibo.it/home.asp
[disi]:				 	http://www.cse.unibo.it/en
[thesis]:      	http://amslaurea.unibo.it/9095/
