---
layout: default
---
<article class="post-container post-container--single">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time>
					  &#8226; &nbsp;
					<span class="post-meta__categories"> 
						{% for category in page.categories %} on <a href="{{ site.baseurl }}categories/#{{ category }}">{{ category }}</a> {% endfor %}
					</span> 
					 &nbsp; &#8226;
					<span class="post-meta__tags"> with tags: 
							{% for tag in page.tags %}
								<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> 
							{% endfor %}
					</span>
    </div>

  <section class="post">
    {{ content }}
	<p style="text-align:center;margin-top:22px; margin-bottom: 50px; font-size:15px"><em style="color:#c7c7c7">Authored by <a href="http://vincenzolomonaco.com">Vincenzo Lomonaco</a></em></p>
  </section>
  {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
</article>

{% if page.comments != false %}{% include disqus.html %}{% endif %}
